#hours {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
#menu{
    width: 100%;
    min-height: 100px;
    text-align:center;
}
.godzina{
	border-style: dotted;
}

#container{
	margin-left: auto;
	margin-right: auto;
	background-color: gray;
	width:1000px;
}