<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
  <title>{% block title %}Poplanszówkujemy{% endblock title %}</title>
  <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  {% block head %}{% endblock head %}
</head>
<body class="white black-text">
<div class="container">
  {% block nav %}
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo" href="{% url "landing_page" %}">Poplanszówkujemy</a>
      </div>
    </nav>
  {% endblock nav %}
  {% block body %}{% endblock body %}
</div>
</body>
</html>