{% extends "plansza/core.html" %}
{% load midnightstuff %}
{% block title %}{{ event.name }} | Poplanszówkujemy{% endblock title %}
{% block body %}
  <div class="container">
    <img src="{{ event.image }}" class="right circle"/>
    <h1>{{ event.name }}</h1>
    <blockquote>{{ event.description }}</blockquote>
  </div>
  <div class="row">
    {% for hour in event.serious_hours %}
      <div class="col s12">
        <div class="card-panel">
          <div class="friends right">
            {% for friend in request.user|s_friends_in:hour %}
              <a class="tooltipped" data-position="left" data-delay="50" data-tooltip="{{ friend.get_full_name }}">
              <img class="responsive-img" src="{% firstof friend.friend.image friend|placeholder_avatar %}"
                   alt="{{ friend.get_full_name }}"/></a>{% endfor %}
          </div>
          <form method="post" action="
              {% if hour.mtype == "hour" %}{% url "change_status" hour.pk %}{% else %}{% url "change_panel_status" hour.pk %}{% endif %}">
            {% csrf_token %}
          {% if request.user|belongs_to:hour.users.all %}
            <button type="submit" name="action" class="btn-floating waves-effect left magical-button red"
                    value="delete"><i
                class="material-icons">remove</i></button>{% else %}
            <button type="submit" name="action" class="btn-floating waves-effect left magical-button green" value="put">
              <i
                  class="material-icons">add</i></button>{% endif %}
          </form>
          <p>{% if hour.mtype == "hour" %}{{ hour.time | date:"d.m H:i" }}{% else %}{{ hour.time | time:"H:i" }}
            {{ hour.name }}{% endif %}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.3/holder.min.js"></script>
{% endblock body %}