{% extends "plansza/core.html" %}
{% load midnightstuff %}
{% block title %}{{ event.name }} | Poplanszówkujemy{% endblock title %}
{% block body %}
  <div class="container">
    <img src="{{ event.image }}" class="right circle"/>
    <h1>{{ event.name }}</h1>
    <blockquote>{{ event.description }}</blockquote>
  </div>
  <div class="container">
    <table>
      {% for hour in event.serious_hours %}
        <tr>
          <td class="hour1">{% if hour.mtype == "hour" %}
            <form method="post" action="{% url "change_status" hour.pk %}">
            {% csrf_token %}
          {% if request.user|belongs_to:hour.users.all %}
            <button type="submit" name="action" class="btn-floating waves-effect magical-button red" value="delete"><i
                class="material-icons">remove</i></button>{% else %}
            <button type="submit" name="action" class="btn-floating waves-effect magical-button green" value="put"><i
                class="material-icons">add</i></button>{% endif %}
            </form>{% endif %}</td>
          <td class="hour2">{% if hour.mtype == "hour" %}{{ hour.time|date:"d.m" }}{% else %}
            <form method="post" action="{% url "change_panel_status" hour.pk %}">
              {% csrf_token %}
              {% if request.user|belongs_to:hour.users.all %}
                <button type="submit" name="action" class="btn-floating waves-effect magical-button red" value="delete">
                  <i class="material-icons">remove</i></button>{% else %}
                <button type="submit" name="action" class="btn-floating waves-effect magical-button green" value="put">
                  <i class="material-icons">add</i></button>{% endif %}
            </form>{% endif %}</td>
          <td class="hour3">{{ hour.time|time:"H:i" }}</td>
          <td class="hour4">{% firstof hour.name "" %}
            <div class="friends">{% for friend in request.user|s_friends_in:hour %}
              <a class="tooltipped" data-position="left" data-delay="50" data-tooltip="{{ friend.get_full_name }}">
                <img class="responsive-img circle" src="{% firstof friend.friend.image friend|placeholder_avatar %}"
                     alt="{{ friend.get_full_name }}"/></a>{% endfor %}</div>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.3/holder.min.js"></script>
{% endblock body %}