{% extends "plansza/core.html" %}
{% load midnightstuff %}
{% block title %}{{ event.name }} | Poplanszówkujemy{% endblock title %}
{% block body %}
  <div class="container">
    <img src="{{ event.image }}" class="right circle"/>
    <h1>{{ event.name }}</h1>
    <blockquote>{{ event.description }}</blockquote>
  </div>
  <div class="row">
    {% for hour in event.serious_hours %}
      <div class="col s12 m6 l4">
        <div class="card-panel">
          {% if request.user|belongs_to:hour.users.all %}
            <a class="btn-floating waves-effect left magical-button red"><i
                class="material-icons">remove</i></a>{% else %}
            <a class="btn-floating waves-effect left magical-button green"><i
                class="material-icons">add</i></a>{% endif %}
          <p>{{ hour.time | date:"d.m H:i" }}</p>
          <div class="friends right chip">
            {% for friend in request.user|s_friends_in:hour %}
              <img class="responsive-img" src="{% firstof friend.friend.image friend|placeholder_avatar %}"
                   alt="{{ friend.get_full_name }}"/>{% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.3/holder.min.js"></script>
{% endblock body %}