<!doctype html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
</head>

<body>
    <div id="container">

        <div id="menu">
            Falkon 2016
        </div>

        <div id="hours">
            <div class="godznia">1:
                <div class="friends">kolega1 kolega2</div>
            </div>
            <div class="godznia">2
                <div class="friends">kolega1 kolega3</div>
            </div>
            <div class="godznia">3
                <div class="friends">kolege4</div>
            </div>
            <div class="godznia">4</div>
            <div class="godznia">5</div>
            <div class="godznia">6</div>
            <div class="godznia">7</div>
            <div class="godznia">8</div>
            <div class="godznia">9</div>
            <div class="godznia">10</div>
            <div class="godznia">11</div>

        </div>

    </div>
</body>
</html>