{% extends "plansza/core.html" %}
{% block body %}
  <div class="container">
    <h3>Wszystkie wydarzenia na FB, w których bierzesz udział</h3>
    <div class="row">
      {% for event in events %}
        <div class="col s12 m6 l4">
          <div class="card hoverable">
            <div class="card-image">
              <img src="{{ event.image }}"/>
              <span class="card-title truncate">{{ event.name }}</span>
            </div>
            <div class="card-content">
              <p>{{ event.description | truncatewords_html: 50 }}</p>
            </div>
            <div class="card-action">
              <a href="{% url "event_details" event.id %}">Przejrzyj</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock body %}