{% extends "plansza/core.html" %}
{% load humanize %}
{% block body %}
  <div class="container">
    <h3>Trwające wydarzenia</h3>
    <div class="row">
      {% for event in ongoing %}
        <div class="col s12 m6">
          <div class="card hoverable">
            <div class="card-image">
              <img src="{{ event.image }}"/>
              <span class="card-title truncate">{{ event.name }}</span>
            </div>
            <div class="card-content">
              <strong>zaczęło się
                <time datetime="{{ event.start_time|date:"c" }}"
                      title="{{ event.start_time|date:"SHORT_DATE_FORMAT" }}">{{ event.start_time|naturaltime }}</time>
                | kończy się
                <time datetime="{{ event.end_time|date:"c" }}"
                      title="{{ event.end_time|date:"SHORT_DATE_FORMAT" }}">{{ event.end_time|naturaltime }}</time>
              </strong>
              <hr/>
              <p>{{ event.description | truncatewords_html:50 }}</p>
            </div>
            <div class="card-action">
              <a href="{% url "event_details" event.facebook_id %}">Przejrzyj</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <h3>Nadchodzące wydarzenia</h3>
    <div class="row">
      {% for event in upcoming %}
        <div class="col s12 m6 l4">
          <div class="card hoverable">
            <div class="card-image">
              <img src="{{ event.image }}"/>
              <span class="card-title truncate">{{ event.name }}</span>
            </div>
            <div class="card-content">
              <strong>zaczyna się
                <time datetime="{{ event.start_time|date:"c" }}"
                      title="{{ event.start_time|date:"SHORT_DATE_FORMAT" }}">{{ event.start_time|naturaltime }}</time>
              </strong>
              <hr/>
              <p>{{ event.description | truncatewords_html:50 }}</p>
            </div>
            <div class="card-action">
              <a href="{% url "event_details" event.facebook_id %}">Przejrzyj</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <h3>Poprzednie wydarzenia</h3>
    <div class="collection">
      {% for event in events %}
        <li class="collection-item avatar">
          <img src="{{ event.image }}" class="circle"/>
          <a class="title" href="{% url "event_details" event.facebook_id %}">{{ event.name }}</a>
          <p><strong>zaczęło się
            <time datetime="{{ event.start_time|date:"c" }}"
                  title="{{ event.start_time|date:"SHORT_DATE_FORMAT" }}">{{ event.start_time|naturaltime }}</time>
            | skończyło się
            <time datetime="{{ event.end_time|date:"c" }}"
                  title="{{ event.end_time|date:"SHORT_DATE_FORMAT" }}">{{ event.end_time|naturaltime }}</time>
          </strong>
          </p>
          <p>{{ event.description|truncatechars_html:100 }}</p>
        </li>
      {% endfor %}
    </div>
  </div>
{% endblock body %}