{% extends "plansza/core.html" %}
{% load humanize %}
{% block body %}
  <div class="container">
    <h3>Trwające wydarzenia</h3>
    <div class="row">
      {% for event in ongoing %}
        <div class="col s12 m6">
          <div class="card hoverable">
            <div class="card-image">
              <img src="{{ event.image }}"/>
              <span class="card-title truncate">{{ event.name }}</span>
            </div>
            <div class="card-content">
              <p>kończy się {{ event.end_time|naturaltime }}</p>
              <p>{{ event.description | truncatewords_html:50 }}</p>
            </div>
            <div class="card-action">
              <a href="{% url "event_details" event.facebook_id %}">Przejrzyj</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <h3>Nadchodzące wydarzenia</h3>
    <div class="row">
      {% for event in upcoming %}
        <div class="col s12 m6 l4">
          <div class="card hoverable">
            <div class="card-image">
              <img src="{{ event.image }}"/>
              <span class="card-title truncate">{{ event.name }}</span>
            </div>
            <div class="card-content">
              <p>{{ event.description | truncatewords_html:50 }}</p>
            </div>
            <div class="card-action">
              <a href="{% url "event_details" event.facebook_id %}">Przejrzyj</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <h3>Wszystkie związane z Tobą wydarzenia na FB</h3>
    <div class="collection">
      {% for event in events %}
        <li class="collection-item avatar">
          <img src="{{ event.image }}" class="circle"/>
          <a class="title" href="{% url "event_details" event.facebook_id %}">{{ event.name }}</a>
        </li>
      {% endfor %}
    </div>
  </div>
{% endblock body %}